<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.skku.httphumanict.fcsnsprojectver001">
    <!-- android permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- /android permission -->

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/icon_512"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.activity.FCSNSLogoActivity" android:theme="@style/Theme.AppCompat.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.activity.FCSNSRoomActivity"
            android:windowSoftInputMode="adjustPan"
            android:hardwareAccelerated="true">
        </activity>
    </application>

</manifest>